<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shift Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="nav-title">Employee Shift Scheduler</div>
        <div class="nav-links">
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <a href="{{ url_for('adminDashboard') }}">Manage Shifts</a>
                <a href="{{ url_for('manageEmployees') }}">Manage Employees</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            {% endif %}
        </div>
    </div>




    <!-- Flash Messages -->
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Main -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</body>


</html>
