{% extends "base.html" %}

{% block content %}
<div class="login-box">
  <h2>Login</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <form method="POST">
    {{ form.hidden_tag() }}

    <label>{{ form.username.label }}</label>
    {{ form.username() }}

    <br>

    <label>{{ form.password.label }}</label>
    {{ form.password() }}

    <br><br>

    {{ form.submit(class="small-button") }}
  </form>

</div>
{% endblock %}
