{% extends "base.html" %}

{% block content %}
<div class="login-box">
    <h2>Manage Employees</h2>

    <!-- Add Employee Form -->
    <h3>Add New Employee</h3>
    <form method="POST">
        {{ addForm.hidden_tag() }}
        <label>{{ addForm.username.label }}</label>
        {{ addForm.username() }}

        <label>{{ addForm.password.label }}</label>
        {{ addForm.password() }}

        <br><br>
        {{ addForm.addSubmit(class="small-button") }}
    </form>

    <hr>

    <!-- Remove Employee / Shifts Form -->
    <h3>Remove Employee / Shifts</h3>
    <form method="POST">
        {{ removeForm.hidden_tag() }}
        <label>{{ removeForm.employeeToRemove.label }}</label>
        {{ removeForm.employeeToRemove() }}

        <br><br>
        {{ removeForm.removeSubmit(class="danger-button") }}
        <br><br>
        {{ removeForm.removeShiftsSubmit(class="danger-button") }}
    </form>
</div>
{% endblock %}


